{{#if articles}}
{{#each articles}}
{{#if saved}}
{{> articles/saved-block}}
{{/if}}
{{/each}}
{{else}}
<div class="alert">
    Oh No! it looks like we don't have any reddits!
</div>
<div class="article">
    <div class="title">
        <h5 class="noTitle">Would you like to browse available posts?</h5>
    </div>
    <div class="noContent">
        <h3><a href="/">Browse Posts</a></h3>
    </div>
</div>
{{/if}}