body {
    margin: 0;
    padding: 0;

}

.titleBar {
    background: rebeccapurple;
    padding: 20px
}

.titleBar h2 {
    margin: 0;
    width: 200px;
    font-size: 30px;
    top: 50%;
    color: white;
    display: inline-block;
}

.titleBar h3 {
    margin: 0;
    margin-left: 5px;
    width: 150px;
    text-align: center;
    color: white;
    display: inline-block;
}

.titleBar h3 a {
    text-decoration: none;
    margin: 0;
    width: 150px;
    text-align: center;
    color: white;
    display: inline-block;
}

.titleBar h3 a:hover {
    text-decoration: underline;
    color: black;
    transform: translateY(2px)
}

#scrape {
    border: 1px solid;
    border-radius: 10px;
    color: black;
    background: skyblue;
}

#clearAll {
    border: 1px solid;
    border-radius: 10px;
    color: black;
    background: skyblue;
}

.container {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 10px 5px 20px 2px lightslategrey
}

#chat-window {
    margin: auto;
    width: 40%;
    height: 150px;
    background: rgb(51, 51, 51, 0.8);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
}

#redditAddition {
    font-size: 30px
}

.article {
    margin: auto;
    width: 98%;
    min-height: 100px;
    box-shadow: 10px 5px 20px 2px lightslategrey;
    margin-bottom: 15px;
    overflow: hidden;
}

.title {
    clear: both;
    margin: auto;
    float: left;
    width: 100%;
    padding: 5px;
    background: rebeccapurple
}

.titleText {
    width: 90%;
    margin-left: 10px;
    float: left;
    color: white;
}

.titleText a {
    width: 90%;
    margin-left: 10px;
    float: left;
    color: white;
    text-decoration: none;
}

.saveButton {
    width: 8%;
    float: left;
    text-align: center;
    color: black;
    background: skyblue;
    border: 1px solid;
    border-radius: 10px;
}

.saveButton:hover {
    transform: translateY(2px)
}

.noTitle {
    margin: 0;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 10px;
}

.noContent {
    clear: both;
    font-size: 25px;
    color: black;
    padding: 10px;
    text-align: center
}

.noContent h3 {
    clear: both;
    font-size: 25px;
    color: rgb(54, 77, 211);
    text-align: center;
    text-decoration: underline;
}

.noContent h3 a {
    clear: both;
    font-size: 25px;
    color: rgb(54, 77, 211);
    text-align: center;
    text-decoration: underline;
}

.content {
    clear: both;
    font-size: 25px;
    color: black;
    padding: 10px;
}

.alert {
    width: 97%;
    margin: auto;
    text-align: center;
    background: rgba(221, 128, 22, 0.644);
    font-size: 30px;
    color: rebeccapurple;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.spacer {
    height: 75px;
    width: 100%;
}

.footer {
    clear: both;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rebeccapurple;
    text-align: center;
    color: white
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.repeatableItem {
    width: 95%;
    border: 1px solid;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#repeater {
    border: 1px solid;
    width: 80%;
    margin: auto;
    margin-bottom: 5px
}

.repeatableItem h4 {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30%;
    border: 1px solid;
    border-radius: 10px;
    background: lightskyblue;
}

.repeatableItem h4:hover {
    transform: translateY(2px);
}

.bottomButton {
    display: inline-block;
    width: 48%;
    border: 1px solid;
    border-radius: 10px;
    font-size: 25px;
    background: lightskyblue;
}

.bottomButton:hover {
    transform: translateY(2px);
}

#textArea {
    margin: auto;
    margin-bottom: 4px;
}

#modalText {
    font-size: 25px;
    margin: 0;
    margin-bottom: 4px;
}