<div class="article">
    <div class="title">
        <h2 class="titleText"><a href="{{link}}">{{title}}</a></h2>
        <h3 class="saveButton" mongo-id="{{_id}}" onclick="saveReddit(this)">Save Post</h3>
    </div>
    <div class="content">
        {{content}}
    </div>
</div>